<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a href="#"><img class="sup-Log" src="../assets/img/images/KonradLogo.png"></a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Iniciar Sesión</button>
    </form>
  </div>
</nav>
<div class="row align-items-center" style="margin-top: 15%;">
  <div class="container align-self-center">
    <news-carousel></news-carousel>
  </div>
</div>
<footer>
  <div class="footer fixed-bottom">
    <div class="footer-container form-label" style="background-color: lightgray;opacity: 0.8">
      <p style="opacity: 1;color: black;">hecho por Mateo Blanco</p>
      <div class="k-info">
        <ul>
          <li>Tel: (+57 1) 347 23 11</li>
          <li>Carrera 9 Bis No. 62 - 43</li>
          <li>Bogotá - Colombia</li>
        </ul>
        <p>Carácter académico: Institución Universitaria. Personería Jurídica por Resolución 18537 del 4 de noviembre de
          1981 del Ministerio de Educación Nacional. Institución de Educación Superior sujeta a inspección y vigilancia
          por el Ministerio de Educación Nacional (Art. 2.5.3.2.10.2, Decreto 1075 de 2015).<br><strong>Vigilada
            Mineducación</strong></p>
      </div>
      <br>
    </div>
  </div>
</footer>