<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a href="#"><img class="sup-Log" src="../assets/img/images/KonradLogo.png"></a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Iniciar Sesión</button>
    </form>
  </div>
</nav>
<div class="row align-items-center" style="margin-top: 15%;">
  <div class="container align-self-center">
    <news-carousel></news-carousel>
  </div>
</div>
<footer>
  <div class="footer fixed-bottom">
    <div class="footer-container form-label" style="background-color: lightgray;opacity: 0.8">
      <p style="opacity: 1;color: black;">hecho por Mateo Blanco</p>
      <div class="k-info">
        <ul>
          <li>Tel: (+57 1) 347 23 11</li>
          <li>Carrera 9 Bis No. 62 - 43</li>
          <li>Bogotá - Colombia</li>
        </ul>
        <p>Carácter académico: Institución Universitaria. Personería Jurídica por Resolución 18537 del 4 de noviembre de
          1981 del Ministerio de Educación Nacional. Institución de Educación Superior sujeta a inspección y vigilancia
          por el Ministerio de Educación Nacional (Art. 2.5.3.2.10.2, Decreto 1075 de 2015).<br><strong>Vigilada
            Mineducación</strong></p>
      </div>
      <br>
    </div>
  </div>
</footer>

<!-- <div id="footerInfo">

  <div class="custom">
    <div class="floatLeft"><a href="/es/"><img alt="logo white" src="/images/logo_white.png" height="47" width="47"></a></div>
  <div class="infoKonrad">
  <ul>
  <li>Tel: (+57 1) 347 23 11</li>
  <li>Carrera 9 Bis No. 62 - 43</li>
  <li>Bogotá - Colombia</li>
  </ul>
  <ul>
  <li>eMail: 
   <a href="mailto:info@konradlorenz.edu.co">info@konradlorenz.edu.co</a></li>
  <li> Correo electrónico para notificaciones judiciales - 
   <script type="text/javascript">
   <!--
   var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
   var path = 'hr' + 'ef' + '=';
   var addy89810 = 'j&#117;r&#105;d&#105;c&#111;' + '&#64;';
   addy89810 = addy89810 + 'k&#111;nr&#97;dl&#111;r&#101;nz' + '&#46;' + '&#101;d&#117;' + '&#46;' + 'c&#111;';
   document.write('<a ' + path + '\'' + prefix + ':' + addy89810 + '\'>');
   document.write(addy89810);
   document.write('<\/a>');
 </script><a href="mailto:juridico@konradlorenz.edu.co">juridico@konradlorenz.edu.co</a><script type="text/javascript">
 
   document.write('<span style=\'display: none;\'>');
 
   </script><span style="display: none;">Esta dirección de correo electrónico está siendo protegida contra los robots de spam. Necesita tener JavaScript habilitado para poder verlo.
   <script type="text/javascript">
   
   document.write('</');
   document.write('span>');
   
   </script></span></li>
  <li><a href="/es/mapa.html">Rutas de acceso a la universidad (Google Maps)</a></li>
  </ul>
  <p>Carácter académico: Institución Universitaria. Personería Jurídica por Resolución 18537 del 4 de noviembre de 1981 del Ministerio de Educación Nacional. Institución de Educación Superior sujeta a inspección y vigilancia por el Ministerio de Educación Nacional (Art. 2.5.3.2.10.2, Decreto 1075 de 2015).<br><strong>Vigilada Mineducación</strong></p>
  </div>
  </div>
  </div> -->